body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://jourdanton.ploud.net/1-yllz96j3p8gfkih1usvmzg.jpeg/@@images/image.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
